* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #414141;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px;
  margin: 10px;
  background-color: #414141;
  box-shadow: 2px 3px 5px rgb(26, 21, 21), 2px 3px 5px rgb(179, 172, 172);
  cursor: pointer;
  width: 100%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}
